@font-face {
    font-family: '金山云技术体';
    src: url('../fonts/金山云技术体.ttf') format('truetype');
}

@font-face {
    font-family: 'msyahei';
    src: url('../fonts/msyahei.ttf') format('truetype');
}

@font-face {
    font-family: '雅酷黑45';
    src: url('../fonts/雅酷黑45.ttf') format('truetype');
}

@font-face {
    font-family: '雅酷黑65';
    src: url('../fonts/雅酷黑65.ttf') format('truetype');
}

@font-face {
    font-family: 'WPS灵秀黑';
    src: url('../fonts/WPS灵秀黑.ttf') format('truetype');
}

@font-face {
    font-family: '雅酷黑简';
    src: url('../fonts/雅酷黑简.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
    line-height: 1.6;
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    position: absolute;  /* 添加绝对定位 */
    top: 1em;           /* 距离顶部距离 */
    left: 4em;          /* 距离左侧距离 */
    color: white;
    font-family: '金山云技术体';
    font-size: 1.9em;
    padding-left: 10px;
    background: transparent;
    border-radius: 30px;
    letter-spacing: 1px;
}

.header {
    color: white;
    font-family: '金山云技术体';
    text-align: center;
    padding: 2px;
    max-width: 80%;
    margin-bottom: 40px;
}

.header h1 {
    font-family: 'WPS灵秀黑';
    color: white;
    font-size: 5em;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.subtitle {
    font-family: '金山云技术体';
    color: white;
    font-size: 2em;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 0 auto 40px;
    max-width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-container a {
    text-decoration: none;
}

.start-button {
    position: absolute;
    bottom: 16vh;
    font-family: 'msyahei';
    background-color: transparent;
    border: 3px solid white;
    padding: 11px 13px;
    padding-bottom: 4.3px;
    padding-top: 4.3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1.1px;
    left: 45%;
}

.start-button:hover {
    transform: translateY(-2px)translateX(2px);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3);
    background-color: transparent;
}

.avatar {
    background-color: transparent;
    flex-shrink: 0;
    position: absolute;
    top: 0em;
    left: 1em;
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}